<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>OTAKeep -予約＆所持グッズ情報管理アプリ-</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>OTAKeep</h1>
    <h2> -予約＆所持グッズ情報管理アプリ-</h2>
  </header>
  <div>
    <section>
      <h3>このサービスは？</h3>
      <p>
      キャラクターグッズの予約情報を管理するWebアプリです。<br>
      予約開始待ちの欲しいグッズや予約済グッズの名前や予約日、予約サイト、発売予定日を記録・検索でき、<br>予約忘れ・重複注文の防止や管理のサポートをすることを目的としています。
      </p>
    </section>
    <div>
      <input type="button" name="button" value="ユーザー登録">
      <input type="button" name="button" value="ログイン">
    </div>
  </div>
  <footer>
  </footer>
</body>
</html>
