<header>
  <nav>
    <div>
      <ul>
        <li>
          <%= link_to 'グッズ一覧', '#' %>
          <%= link_to '新規グッズ登録', '#' %>
          <div>
            <%= link_to 'ログアウト', '#' %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
