<header>
  <div>
  <%= link_to '/' do %>
    <a href="/"><h1>OTAKeep</h1></a>
  <% end %>
  </div>
  <nav>
    <div>
      <ul>
        <li>
          <%= link_to 'グッズ一覧', '#' %>
          <%= link_to '新規グッズ登録', '#' %>
          <div>
            <%= link_to 'ログアウト', 'logout_path', data: { turbo_method: :delete } %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
