<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>OTAKeep -予約＆所持グッズ情報管理アプリ-</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<%= yield %>
</body>
</html>
